{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="display-4">Добро пожаловать в Auto-Booking</h1>
        <p class="lead">Ваш ключ к первоклассному автомобильному опыту!</p>
    </div>


<main class="container my-5">
    <section>
        <h2>Наши автомобили</h2>
        <p>От элегантных седанов до роскошных внедорожников, наш ассортимент включает в себя исключительные модели от ведущих мировых производителей.</p>
        <p>Каждый автомобиль в нашем парке тщательно отобран и поддерживается в отличном состоянии, чтобы ваша поездка была безупречной и незабываемой.</p>
    </section>

    <section>
        <h2>Наши менеджеры</h2>
        <p>Наша команда профессиональных менеджеров всегда готова помочь вам с выбором автомобиля, оформлением бронирования и предоставлением любой необходимой информации.</p>
        <p>Они обладают глубокими знаниями в автомобильной индустрии и всегда готовы предложить вам наилучшие решения для вашего комфорта и удовлетворения.</p>
    </section>

    <section>
        <h2>Огромный выбор</h2>
        <p>Мы гордимся тем, что предлагаем один из самых разнообразных выборов премиум автомобилей на рынке.</p>
        <p>Независимо от того, нужен вам автомобиль для деловой поездки, отдыха или особого события, у нас есть идеальный вариант для вас.</p>
        <p>Наша цель - сделать ваш выбор простым и приятным</p>
    </section>
</main>
{% endblock %}