{% extends 'base.html' %}

{% block title %}{{ auto.model }}{% endblock %}

{% block content %}
    <br>
    <h4>Модель {{ auto.model }}</h4>
    <br>
    <h4>Цена {{ auto.price }}</h4>
    <br>
    <h4>Страна производитель {{ auto.country }}</h4>
    <br>
    <h4>Кузов {{ auto.body_type }}</h4>
    <br>
    <h4>Коробка {{ auto.transmission }}</h4>
    <br>
    <h4>л.с. {{ auto.power }}</h4>
    <br>
    <h4>Цвет {{ auto.color }}</h4>
    <br>
    <br>

<form method="post" action="">
<h3>Забронируйте Автомобиль</h3>
    {% csrf_token %}
    <div>
    <input type="text" name="first_name" placeholder="Ваше имя" value="" required>
    <input type="text" name="last_name" placeholder="Ваша фамилия" value="" required>
    <input type="text" name="number_phone" placeholder="Ваш телефон" value="" required>
    <input type="email" name="email" placeholder="Ваш email" value="" required>
{#    <input type="text" name="interesting_car" placeholder="Интересующий авто" value="{{ auto.id }}" required>#}
        <br>
        <br>
    <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Подать заявку</button>
        </div>
    </div>
</form>
<br><br><br><br><br><br><br><br>

{% endblock %}

